.glyphicon {
    color: #18bc9c!important;
}

.tags-btn {
    margin-bottom: 20px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #28415b!important;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #28415b!important;
}

.nav-link {
    font-size: 19px;
}

.add-div-1 {
    background-color: #18bc9c;
    border-color: #18bc9c;
    color: #ffffff;
}

.add-div-2 {
    background-color:#f39c12;
    border-color: #f39c12;
    color: #ffffff;
}

.logo-img {
    background-image: url("/static/img/main/logo_image_full_COLORED_2.png");
    background-repeat: no-repeat;
    width: 300px;
    margin-top: 5px!important;
    margin-bottom: -5px!important;
}

.square-main {
    margin: 37px;
}

.square-detail {
    margin: 34px;
}

.add-header {
    color: #ffffff!important;
}

@media screen and (min-width: 1200px) {
    .crop-div {
        width: 360px;
        height: 272px;
        margin-bottom: 200px;
    }
}

@media screen and (max-width: 1199px) {
    .crop-div {
        width: 293px;
        height: 222px;
        margin-bottom: 200px;
    }
}


.crop-div img {
    width: 100%;
    height: 100%;
}

/*multilevel menu in dropdown*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.large-width-menu {
    min-width: 180px!important;
}