{% extends 'main/main.html' %}
{% load static i18n %}

{% block contact_class %}active{% endblock %}
{% block add_url %}{% url 'main' %}{%endblock%}

{% block main %}
    <!-- Page Content -->

    <div class="container">
      
      <div class="row">

        {% include "main/breadcrumb.html" with header="Контакты" headers=breadcrumb_headers %}

        <div class="col-lg-12">
          <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
{#          <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;q=59.830372, 30.349353;&amp;output=embed"></iframe>#}
{#          <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=59.909278,30.342583&amp;spn=59.909278,30.342583&amp;t=m&amp;z=10&amp;q=59.909278, 30.342583&amp;q=59.393036, 31.148351&amp;output=embed"></iframe>#}
          <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=59.909278,30.342583&amp;spn=59.909278,30.342583&amp;t=m&amp;z=10&amp;q=59.909278, 30.342583&amp;output=embed"></iframe>
        </div>

      </div><!-- /.row -->
      
      <div class="row">
        <div class="col-sm-4">
          <h3>Офис продаж</h3>
          <h4>Местонахождение</h4>
          <p>
            г. Санкт-Петербург, Московский район,<br>
            Московское шоссе, д. 42, корп. 2, АЦ "Нева", 3 этаж<br>
          </p>
          <p><i class="fa fa-phone"></i> <abbr title="Phone">P</abbr>: (812) 490-75-77</p>
          <p><i class="fa fa-phone"></i> <abbr title="Phone">P</abbr>: (812) 364-97-90</p>
          <p><i class="fa fa-envelope-o"></i> <abbr title="Email">E</abbr>: <a href="mailto:burov@stroimdomplus.ru">burov@stroimdomplus.ru</a></p>
        </div>

        <div class="col-sm-4">
          <h3>Производство</h3>
          <h4>Местонахождение</h4>
          <p>
            Ленинградская область, Тосненский район,<br>
            пос. Рябово, Московское шоссе, д. 190<br>
          </p>
          <p><i class="fa fa-phone"></i> <abbr title="Phone">P</abbr>: (812) 490-75-77</p>
          <p><i class="fa fa-phone"></i> <abbr title="Phone">P</abbr>: (812) 715-67-77</p>
        </div>

        <div class="col-sm-4">
          <div>
              <h3>Отдел снабжения</h3>
              <p><i class="fa fa-phone"></i> <abbr title="Phone">P</abbr>: (812) 364-97-90 (доб. 104)</p>
              <p><i class="fa fa-phone"></i> <abbr title="Phone">P</abbr>: (812) 642-07-05</p>
          </div>
          <div>
              <h3>Отдел логистики</h3>
              <p><i class="fa fa-phone"></i> <abbr title="Phone">P</abbr>: (812) 364-97-90 (доб. 105)</p>
              <p><i class="fa fa-phone"></i> <abbr title="Phone">P</abbr>: (812) 642-07-09</p>
          </div>
        </div>

      </div><!-- /.row -->

    </div><!-- /.container -->

{% endblock main %}
