<!DOCTYPE html>
{% load static i18n %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'img/favicon_logo.png' %}">

    <title>{% trans 'Build House' %}</title>

    <!-- Bootstrap core CSS -->
{#    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">#}

    <!-- Add custom CSS here -->
    <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
{#    <link href="{% static 'css/magic-bootstrap.css' %}" rel="stylesheet">#}
    <link href="{% static 'css/bootstrap-flatty.css' %}" rel="stylesheet">
    <link href="{% static 'css/buildhousemain.css' %}" rel="stylesheet">
    <link href="{% static 'css/ihover.css' %}" rel="stylesheet">
    {% block extra_css %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">{% trans 'Toggle navigation' %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
                <a class="navbar-brand nav-link logo-img" href="{% url 'main' %}"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="nav-link" href="#" class="dropdown-toggle" data-toggle="dropdown"><b>{% trans 'Offers' %}</b> <b class="caret"></b></a>
                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                            {% for key, value in django_settings.offer_types.items %}
                                {% if value.types %}
                                  <li class="dropdown-submenu">
                                    <a href="{% url 'object_list' value.name django_settings.default_object_type %}">{{ value.display_name_plural }}</a>
                                    <ul class="dropdown-menu large-width-menu">
                                        {% for type in value.types %}
                                            <li><a href="{% url 'object_list' value.name type.0 %}">{{ type.1 }}</a></li>
                                        {% endfor %}
                                    </ul>
                                  </li>
                                {% else %}
                                    <li>
                                        <a href="{% url 'object_list' value.name django_settings.default_object_type %}">{{ value.display_name_plural }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    <li>
                        <a data-scroll href="{% block add_url %}{%endblock%}#advertising" class="nav-link"><b>{% trans "Advertising header" %}</b></a>
                    </li>
                    <li class="{% block contact_class %}{% endblock %}">
                        <a href="{% url 'contact' %}" class="nav-link"><b>{% trans "Contact" %}</b></a>
                    </li>
                    <li class="{% block articles_class %}{% endblock %}">
                        <a class="nav-link" href="{% url 'zinnia_entry_archive_index' %}"><b>{% trans "Articles" %}</b></a>
                    </li>
               </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

{% block main %}
    <div id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('{% static 'img/main/slider/slide_1.jpg' %}');"></div>
                <div class="carousel-caption">
{#                    <h1>Modern Business - A Bootstrap 3 Template</h1>#}
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('{% static 'img/main/slider/slide_2.jpg' %}');"></div>
                <div class="carousel-caption">
{#                    <h1>Ready to Style &amp; Add Content</h1>#}
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('{% static 'img/main/slider/slide_3.jpg' %}');"></div>
                <div class="carousel-caption">
                    <h1>
                        <a href="http://stroimdomplus.ru" target="_blank">{% trans 'Building House from other side' %} stroimdomplus.ru</a>
                    </h1>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <h3><i class="glyphicon glyphicon-home"></i>  Загородное малоэтажное строительство</h3>
                    <p>Основное направление деятельности Строительной группы "Строим Дом™". Мы строим <b>загородные коттеджи</b>
                        из <a target="_blank" href="http://stroimdomplus.ru/%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D1%8B_%D0%B4%D0%BE%D0%BC%D0%BE%D0%B2_%D0%B8%D0%B7_%D0%B3%D0%B0%D0%B7%D0%BE%D0%B1%D0%B5%D1%82%D0%BE%D0%BD%D0%B0.html">газобетонных блоков</a>
                        и <a target="_blank" href="http://stroimdomplus.ru/%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D1%8B_%D0%BA%D0%B8%D1%80%D0%BF%D0%B8%D1%87%D0%BD%D1%8B%D1%85_%D0%B4%D0%BE%D0%BC%D0%BE%D0%B2.html">кирпича</a>.
                        и дачные дома и бани из <a target="_blank" href="http://stroimdomplus.ru/%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D1%8B_%D0%B4%D0%BE%D0%BC%D0%BE%D0%B2_%D0%B8%D0%B7_%D0%B1%D1%80%D1%83%D1%81%D0%B0.html">профилированного бруса</a> в Санкт-Петербурге, Ленинградской области и других регионах России.</p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <h3><i class="glyphicon glyphicon-ok"></i> Надежность</h3>
                    <p>С 2005 года компания прочно удерживает лидирующие позиции в данном сегменте строительного рынка благодаря наличию собственной базы строительных материалов и автомобильного парка спецтехники,
                        позволивших значительно снизить себестоимость строительства, квалифицированному персоналу и широкому спектру
                        <a target="_blank" href="http://stroimdomplus.ru/">сопутствующих услуг</a>.</p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <h3><i class="glyphicon glyphicon-star"></i> Востребованность</h3>
                    <p>За последние 5 лет нами построено более 50 дачных домов этой серии. Наличие собственной базы строительных материалов, многолетний опыт и отлаженные
                        технологии брусового строительства позволяют нам выполнять весь комплекс строительных работ качественно и в срок.</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.section -->

    <div class="section">

        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Товары и услуги</h1>
                    <hr>
                </div>
                {% for other in others %}
                    <div class="col-lg-4 col-md-4 from_top_and_bottom square effect6 ih-item square-main">
                            <a href="{% url 'object_detail' other.get_name other.get_object_type other.pk %}">
                                <div class="img"><img src="{% if other.preview_image %}{{ other.preview_image.url }}{% endif %}" alt="img"></div>
                                <div class="info">
                                    <h3>{{ other.name }}</h3>
                                    <p>{{ other.short_description|safe }}</p>
                                </div>
                            </a>
                    </div>
                {% endfor %}
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section -->

    <div class="section-colored advertising-div add-div-1" id="advertising">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h1 class="add-header" >{% trans 'Advertising 1' %}: </h1>
                    <ul>
                        <li>{% trans 'Advertising 1 description 1' %}</li>
                        <li>{% trans 'Advertising 1 description 2' %}</li>
                        <li>{% trans 'Advertising 1 description 3' %}</li>
                        <li>{% trans 'Advertising 1 description 4' %}</li>
                        <li>{% trans 'Advertising 1 description 5' %}</li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <img width="700px" height="450px" class="img-responsive img-thumbnail" src="{% static 'img/main/advertizing_1.jpg' %}">
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section-colored -->

    <div class="section add-div-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <img class="img-responsive img-thumbnail" src="http://placehold.it/700x450">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h1 class="add-header" >{% trans 'Advertising campaign' %}:</h1>
                    <ul>
                        <li>{% trans 'Firts point of advertising' %}</li>
                        <li>{% trans 'Second point of advertising' %}</li>
                        <li>{% trans 'Third point of advertising' %}</li>
                    </ul>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->

    </div>
    <!-- /.section -->
{% endblock main %}

    <div class="container">
        <hr>
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; {% trans 'Build House' %} 2014</p>
                </div>
            </div>
        </footer>
    </div>
    <!-- /.container -->

    <!-- JavaScript -->
    <script src="{% static 'js/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/modern-business.js' %}"></script>
    {% block extra_js %}
        <script src="{% static 'js/smooth-scroll.js' %}"></script>
        <script>
            $(document).ready(function(){
                smoothScroll.init({
                    speed: 1000,
                    easing: 'easeInOutQuad',
                    updateURL: true,
                    offset: 50
                });
            });
        </script>
    {% endblock %}
</body>

</html>
