{% extends 'main/main.html' %}
{% load static i18n %}

{% block add_url %}{% url 'main' %}{%endblock%}

{% block main %}
    <div class="container">

        {% include "main/breadcrumb.html" with header=view.offer_type.display_name_plural headers=breadcrumb_headers %}

        <div class="row">
            {% for object in object_list %}
                <div class="col-md-4">
                    <div class="portfolio-item crop-div">
                        <a href="{% url 'object_detail' view.offer_type.name object.get_object_type object.pk %}">
                            <img class="img-responsive img-thumbnail"
                                 src="{% if object.preview_image.middle %}{{ object.preview_image.middle.url }}{% else %}
                                 {% if object.preview_image %}{{ object.preview_image.url }}{% endif %}{% endif %}">
                        </a>
                        <h3><a href="{% url 'object_detail' view.offer_type.name django_settings.default_object_type object.pk %}">{{ object.name }}</a>
                        </h3>
                        <p>{{ object.short_description|safe }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <hr>
        {% include "includes/_pagination.html" %}
    </div>
{% endblock %}