{% extends 'main/main.html' %}
{% load static i18n %}

{% block add_url %}{% url 'main' %}{%endblock%}

{% block main %}
    <div class="container">

        {% include "main/breadcrumb.html" with header=object.name headers=breadcrumb_headers %}

        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive img-thumbnail" width="750px" height="500px" src="{{ object.preview_image.large.url }}">
            </div>

            <div class="col-md-4">
                <h3>{% trans 'Description' %}</h3>
                <p>{{ object.full_description|safe }}</p>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">{% trans 'Others' %}</h3>
            </div>
            {% for other in others %}
                    <div class="col-sm-3 col-xs-6 from_top_and_bottom square effect6 ih-item square-detail">
                        <a href="{% url 'object_detail' view.offer_type.name other.get_object_type other.pk %}">
                            <div class="img"><img src="{% if other.preview_image %}{{ other.preview_image.middle.url }}{% endif %}" alt="img"></div>
                            <div class="info">
                                <h3>{{ other.name }}</h3>
                                <p>{{ other.short_description|safe }}</p>
                            </div>
                        </a>
                    </div>
            {% endfor %}
        </div>

    </div>
{% endblock main %}
